.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    padding: 30px;
     
}

.footer-section{
    max-width: 1000px;
    margin:auto;
    display:flex;
    justify-content: center;
    align-items:center;
}