.projects-section{
    width:100%;
    margin-bottom: 150px;
    display:flex;
    align-items: center;
    flex-wrap:wrap;
    height:100%;
    justify-content:center;
    text-align:center;
    display:inline-block;
    color: darkgreen;
}

.projects-list{
width: 100%;
height:50%;
/* display:flex; */
justify-content:center;
align-items:center;
text-align:center;
}
.card{
    width: 45%;
    height: 25%;
    margin-top: 50px;
    margin-left:20px;
    justify-content:center;
    align-items:center;
    text-align:center;
    margin:auto;
    

}

button{
    background:bisque;
    border-color: darkgreen;
    border-radius:5px;
    padding: 5px;
    /* color:white; */
    
}

button:hover{
    background: white;
    transition: 0.5s;
   
}

.project-title{
    /* background:bisque; */
}