.about-section {
  width: 100%;
  margin-bottom: 150px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  position: relative;
}

.about-left {
  margin: 100px 100px;
  flex: 1;
  max-width: 30%;
  float: left;
  position: absolute;
}

img {
  border: 15px solid white;
  max-width: 110%;
  border-radius: 50px;
}

.about-right {
  margin: 100px;
  border: 15px white;
  padding: 12px;
  border-radius: 25px;
  max-width: 40%;
  flex: 3;
  float: right;
  position: relative;
}

@media screen and (max-width: 792px) {
  .about-section {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-container {
    flex-direction: column;
  }
  .about-left {
    margin-top: 50px;
    max-width: fit-content;
    z-index: 1;
  }
  .about-right {
    margin-top: 350px;
    z-index: -1;
    max-width: fit-content;
    margin-bottom: auto;
  }
}
