/* .contact-form {
  display: flex;
  flex-direction: column;
  padding: 4rem 1rem;
  margin: auto;
  max-width: 800px;
  overflow: hidden;
} */

/*I took some tips from the next websites to style the form. 
Sources: https://stackoverflow.com/questions/13755400/trouble-aligning-contact-form*/
/*https://webdesign.tutsplus.com/tutorials/how-to-build-web-form-layouts-with-css-grid--cms-28776*/
/* */
